.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 20px;
}

.pattern-image{
   position:fixed;
   top: 0;
   left: 0;
   width: 50%;
   height: auto;
   z-index: 10;
}

.pattern1-image{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
    z-index: 5;
}

/* 스크롤 버튼 */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20; /* 패턴 위에 올리고 싶으면 20, 패턴보다 뒤면 8 */
  transition: all 0.2s ease;
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.1);
}

.scroll-btn.left {
  left: 30px;
}

.scroll-btn.right {
  right: 30px;
}

.skip-button {
  position: absolute;
  bottom: 20%;      /* 위쪽 여백 */
  right: 20px;    /* 오른쪽 여백 */
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  z-index: 30; /* 다른 이미지나 요소보다 위에 보이도록 */
  transition: all 0.2s ease;
}

.skip-button:hover {
  background-color: #333;
  transform: scale(1.05);
}
