.LoginJoinContainer {
    width: 390px;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

/* 상단 패턴 */
.Login-pattern-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    /* 너가 원한 60% 유지 */
    z-index: 1;
    pointer-events: none;
}

/* 하단 패턴 */
.Login-pattern1-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    /* 화면 폭 고정 */
    z-index: 1;
    pointer-events: none;
}

/* ⭐ 중앙 콘텐츠 전체 묶음 */
.Login-content-wrapper {
    width: 80%;
    max-width: 270px;
    text-align: center;
    margin-top: 10%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
}

/* 제목 */
.Login-welcome-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #333;
}

/* 설명 */
.Login-description-text {
    font-size: 13px;
    margin-top: -6px;
    color: #555;
}

/* 로고 묶음 */
.Login-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Login-logo-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* 버튼 묶음 */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-btn {
    width: 95%;
    height: 45px;
    background-color: black;
    color: white;

    font-size: 18px;
    font-weight: bold;

    border: none;
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    /* 수평 중앙 */
    align-items: center;
    /* 수직 중앙 */
}


.signup-btn {
    width: 95%;
    height: 45px;

    background-color: white;
    color: black;
    border: 1px solid black;

    font-size: 18px;
    font-weight: bold;
    
    border-radius: 10px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}