.OnboardContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 35%;
    padding-top: 50px;
    font-family: Pretendard, sans-serif;
    position: relative;
}

.Onboard-Primary-Patterntopimage {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 1;
    pointer-events: none;
}

/* 상단 패턴 이미지 영역 */
.TopWave {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Onboarding-PatternTop{
    width: 70%;
    margin-top: -40%;
}
.AppTag {
    background: #000;
    color: #fff;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    z-index: 2;
}

.Title {
    text-align: center;
    /* margin-top: 16px; */
    white-space: pre-line;
    font-size: 20px;
    line-height: 1.4;
    z-index: 2;
}

/* 기어링 일러스트 */
.GearingIllustration {
    width: 100%;
    margin-top: -10%;
    z-index: 2;
}

.StartBtn {
    width: 80%;
    padding: 16px;
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 100%;
    cursor: pointer;
    z-index: 2;
}